// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

$display-led-color: #ffb800;

@include keyframes(blink) {
    0% {
        color: $display-led-color;
    }
    50% {
        color: transparent;
        text-shadow: none
    }
    100% {
        color: $display-led-color;
    }
}
@include keyframes(roll) {
    to {
        @include transform(rotate(360deg))
    }
}

@mixin grid-slots {
    @include valo;

    &.v-app {
        background: #003 url(img/background-stripes.png) no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }

    .main {
        text-align: left;
        background: #fafafa;
        height: 100%;
    }

    .v-slot-gridslots-logo {
        text-align: center;

        .gridslots-logo {
            width: 500px;
            text-align: center;

            #Star-2 {
                @include transform-origin(50% 50%);
                @include animation(roll 6s ease-in-out infinite);
            }
        }
    }

    .v-button-start {
        font-size: 40px;
        font-weight: bold;
    }

    .v-label-display {
        padding: 0 0.5em;
        border: 4px solid #aaa;
        background: #222;
        color: $display-led-color;
        text-shadow: 0px 0px 10px lighten($display-led-color, 10%);
        font-weight: bold;
        font-size: 50px;
        position: relative;

        &:before {
            content: "";
            display: block;
            background: url(img/display-mask.png) top left repeat;
            background-size: 3px 3px;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &.blink {
            @include animation(blink 600ms linear 3);
        }
    }

    .v-grid-scroller-vertical::-webkit-scrollbar {
        display: none;
    }

    .v-grid-scroller {
        border: none;
    }

    .v-grid-row-selected > .v-grid-cell {
        background: #fff;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
    }

    .v-grid-row {
        .v-grid-cell {
            perspective: 200px;
            height: 100px !important;
            text-align: center;

            img {
                height: 80px;
                width: 80px;
                margin-top: 10px;
            }
        }

        &:nth-child(1) .v-grid-cell img { transform: rotateX(40deg); opacity: 0.6; }
        &:nth-child(2) .v-grid-cell img { transform: rotateX(20deg); opacity: 0.8; }
        &:nth-child(4) .v-grid-cell img { transform: rotateX(-20deg); opacity: 0.8; }
        &:nth-child(5) .v-grid-cell img { transform: rotateX(-40deg); opacity: 0.6; }
        &:nth-child(6) .v-grid-cell img { transform: rotateX(-40deg); opacity: 0.6; }
    }

    .v-grid-tablewrapper {
        border: none;
    }

    .v-grid-footer {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        border-radius: 10px;
        @include box-sizing(border-box);

        box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.6);
        background-color: transparent !important;
        @include linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0.1) 20%,
            rgba(255, 255, 255,0) 50%,
            rgba(0, 0, 0, 0.1) 80%,
            rgba(0, 0, 0, 0.6) 100%
        );
    }
}
